* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.xcworkspace/** linguist-generated
*.xcodeproj/** linguist-generated
Cargo.lock linguist-generated=false
*.patch -whitespace
